<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966837702997-a7atn25aeshshjhteqe26rcr1gpffgpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966837702997-a7atn25aeshshjhteqe26rcr1gpffgpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAnB6ymr_jDq5NCkX7DCL4_7gGgkVv9CzI</string>
	<key>GCM_SENDER_ID</key>
	<string>966837702997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alberto.UpChat</string>
	<key>PROJECT_ID</key>
	<string>upchat-249d8</string>
	<key>STORAGE_BUCKET</key>
	<string>upchat-249d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966837702997:ios:4bd49401029881e2791fdc</string>
</dict>
</plist>